<section role="instagram-geo" id="instagram-geo">
  <div class="pad maxwidthcenter">
    
    <h2 class="header-block">Get Instagrams By Your Geolocation</h2>
    
    <form id="get-instagrams-geo-form" action="/instagram/fetch/geo" method="POST">
      <fieldset>
        <input type="hidden" name="instagram-lat" id="instagram-lat" value="">
        <input type="hidden" name="instagram-lon" id="instagram-lon" value="">
        <div class="form-item">
          <button id="get-instagrams-geo-button"><span>Get Instagrams!</span></button>
        </div>
      </fieldset>
    </form>
    
    <div id="instagram-geo-results">
    </div>
    
  </div>
</section>