<section role="twitter" id="twitter">
    
  <h2 class="header-block">Get Tweets By Search Term</h2>
  
  <form id="get-tweets-form" action="/twitter/fetch" method="POST">
    <fieldset>
      <input type="hidden" name="tweet-lat" id="tweet-lat" value="">
      <input type="hidden" name="tweet-lon" id="tweet-lon" value="">
      <div class="form-item">
          <label for="tweet-query">Tweet Query</label>
          <input name="tweet-query" id="tweet-query" type="name" required="true" value=""></input>
      </div>
      <div class="form-item">
        <button id="get-tweets-button"><span>Get Tweets!</span></button>
      </div>
    </fieldset>
  </form>
  
  <div id="tweet-results" class="results-container">
  </div>
  
</section>