<section role="main">
  
  <div class="page-wrap">

    <section class="box">
      <%- include form-twitter %>    
    </section>

    <section class="box">
      <%- include form-instagram-geo %>    
    </section>

    <section class="box">
      <%- include form-instagram-tags %>    
    </section>

    <section class="box">
      <%- include form-pinterest-pins %>    
    </section>


  </div>
  
</section>