<section role="main">
  
  <div class="metrics-container">

    <%- include form-twitter %>    

    <%- include form-instagram-geo %>    

    <%- include form-instagram-tags %>    

    <%- include form-pinterest-pins %>    

  </div>
  
</section>