<section role="main">
  <p>Wind extinguishes a candle and energizes fire.” -- Nassim Taleb</p>
  <p>I can think of nothing more irresponsible or dangerous than being willfully ignorant. -- Will McAvoy </p>
  <p>Until you have done something for humanity you should be ashamed to die.” — Horace Mann </p>
  <p>For every man there exists a bait which he cannot resist swallowing. -- Nietzsche </p>
</section>